body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  display: block;
}

/* use BEM for the love of GOD before it's too late */
.scrollbar {
  height: 100vh;
  width: 100vw;
}

.scrollThumb {
  position: absolute;
  right: 0;
  width: 15px;
  background-color: #424242;
  cursor: pointer;
  transition: background-color 100ms;
  user-select: none;
}

.scrollThumb:hover {
  background-color: #4f4f4f;
}

.scrollThumb:active {
  background-color: #5e5e5e;
}

.itemsCountLabel {
  position: fixed;
  top: 20px;
  right: 40px;
  background-color: #424242;
  border-radius: 6px;
  padding: 5px;
}

.my-input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  padding: 0;
  width: 100%;
  /* border-bottom: 2px solid white; */
}
